{% extends 'base.html' %}

{% block pagetitle %}VimeoDB{% endblock %}

{% block primary %}

<!--<h1> VimeoDB </h1>-->

<div id="searchField">

<div class="input-append input-prepend">
	<span class="add-on"><i class="icon-search"></i></span>
	  <input type="text" class="input-xlarge" id="search-qry" placeholder="type your search keywords here...">
	  <button type="submit" class="btn" onClick="items.retrieve(q);" id="searchButton">Search</button>
</div>
<div>
	  <p id="filter">
	 
	 <div class="btn-group">
	
	<button class="btn btn-primary btn-success" type="button" id="all" onClick="spec('all');">All</button>
	<button class="btn btn-primary" type="button" id="is_pay" onClick="spec('is_pay');">Paying</button>
	<button class="btn btn-primary" type="button" id="has_videos" onClick="spec('has_videos');">Uploaded</button>
	<button class="btn btn-primary" type="button" id="has_staff_pick" onClick="spec('has_staff_pick');">Staff Pick</button>
	</div>
	  </p>
</div>
</div>
<hr class="embosed" />
<div id="count">Loading..</div>

<div id="searchResults" class="searchResultsHolder" height="900px">
<ul class="searchDisplay"></ul>
</div>

<script id="usrTemplate" type="text/template">
    <div class="container_block">
    <p><a href="<%=page_url%>"><%=display_name%> ( <%=user_name%> ) </a></p>
    <% if (is_pay == true) { %>
    	<p> <a class="btn disabled" href="javascript:void(0)"><i class="icon-ok"></i></a> Paying</p>
    <% } else  {%>
    	<p> <a class="btn disabled" href="javascript:void(0)"><i class="icon-remove"></i></a> Not Paying</p>
    <% } %>

    <% if (has_staff_pick == true) { %>
    	<p> <a class="btn disabled" href="javascript:void(0)"><i class="icon-ok"></i></a> Has Staff Pick </p>
    <% } else  {%>
    	<p> <a class="btn disabled" href="javascript:void(0)"><i class="icon-remove"></i></a> No Staff Pick</p>
    <% } %>

    <% if (has_videos== true) { %>
    	<p> <a class="btn disabled" href="javascript:void(0)"><i class="icon-ok"></i></a> Has Uploaded </p>
    <% } else  {%>
    	<p> <a class="btn disabled" href="javascript:void(0)"><i class="icon-remove"></i></a> Has Not Uploaded</p>
    <% } %>

    </div>
</script>

{% endblock %}

{% block scriptfoot %}

<script type="text/javascript">

var items = new app.collection.usrList();
var q = {};

function spec(arg){
	if(arg=='all'){
	   q = {};
	   $("#is_pay, #has_videos, #has_staff_pick").removeClass("btn-success");
	   $("#all").addClass("btn-success");
	   items.retrieve(q);
	   return;
	}

	if(arg in q){
	   q[arg] = !q[arg];
	   $("#"+arg).toggleClass("btn-success");
	}else{
                q[arg] =true;
                $("#"+arg).addClass("btn-success");
                $("#all").removeClass("btn-success");
	}
	// console.log(q);
	items.retrieve(q);
}

$(document).ready(function () {
  items.retrieve();
  $('#search-qry').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            $('#searchButton').click();//Trigger search button click event
        }
    });
});


</script>

{% endblock %}